/*body {
    background-color: gray !important;
}
*/

.table {
    margin-top: 10rem;
}

.kek {
    margin-top: 5rem;
   
 
}

.logout {
    margin-left: 100rem;
    cursor: pointer;
    
}   

.hidden {display:none;}


#modal {


margin-right: 20rem !important; 
position: fixed!important;
left: 100rem!important;

border: 1px solid!important;
padding: 3rem!important;
background-color: white;
}