.field {
    margin-top: 1.5rem;
}


.login {
    margin-left: 28rem;
}

.connexion {
    margin-left: 10rem;
    margin-top: 2rem;
}

.user {
    margin-bottom: 5rem;
}

.space_bottom{
    margin-bottom: 1rem;

}

.space {
    margin-bottom: 1rem;
}
