 
 
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styleform.css">
    <title> </title>
  </head>
  <body> 
 {% block title %}
<div id="form">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">ID</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ...">
         
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter...">
        </div>
       
        <label for="exampleInputPassword1">Seller</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter...">
        <select class="form-control custom" name="source_type" id="source_typeSelect" required></select>

        <label for="exampleInputPassword1">Reference</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter ...">

        <label for="exampleInputPassword1">Category</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter...">


        <label for="exampleInputPassword1">Purchase_date</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter...">



        <label for="exampleInputPassword1">End_warranty</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter ...">


        <label for="exampleInputPassword1">Price</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter ...">


        <label for="exampleInputPassword1">Advices</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter ...">


        <div class="form-row mb-2">

          <!-- receipt image upload -->
          <div class="col-4 form-group custom-file">
              <input type="file" class="custom-file-input" id="image_productInput" name="image_product" required/>
              <label class="custom-file-label" for="image_productInput">Upload receipt</label>
              <div class="invalid-feedback">Please upload the receipt</div>
          </div>

          <!-- manual upload -->
          <div class="col-4 offset-2 form-group custom-file">
              <input type="file" class="custom-file-input" id="manual_productInput" name="manual_product"/>
              <label class="custom-file-label" for="manual_productInput">Upload manual</label>
          </div>
      </div>
        

      

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   

 {% endblock content %} 


 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="script.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
