<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" type="image/png" href="getsupercustomizedimage.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>   
    <!-- Header personnalisé -->
    <header>
        <div class="titre">            
            <h1 class="login">
                
                LOGIN
            </h1>

            

            <nav class="user">
                <!-- Nav vide pour centrer le titre-->
            </nav>
        </div>
    </header>

    <div class="uk-form-horizontal uk-margin-auto-left uk-margin-auto-right uk-margin-xlarge-top uk-width-1-2 uk-margin">
        <!--Formulaire de connexion -->
        <form action="index.php" method="POST">
            <!-- Input de l'identifiant -->  
         <div class="user">   
                
            <label><b>Nom d'utilisateur</b></label>
          <div class="space_bottom">
          </div>
            <input type="text" placeholder="Entrer le nom d'utilisateur" name="utilisateur" required class="uk-input">
            <div class="space">
          </div>
            <!-- Input du mot de passse -->
            <label> <b>Mot de passe</b></label>
            <div class="space">
          </div>
            <div class="space_bottom">
          </div>
            <input type="password" placeholder="Entrer le mot de passe" name="mot_de_passe" required class="uk-input">
            
        <!-- Boutton de validation du formulaire -->
            <div class="connexion">
            <input type="submit" id='submit' value='connexion' name='connexion' class="uk-button uk-button-default" >
            </div>
        </form>
    </div>
    

  <!-- Modal de déconnexion-->
  <div id="deco" uk-modal >
    <div class="uk-modal-dialog uk-modal-body uk-text-center uk-margin-auto-vertical">
        <h1 class="warning">Déconnexion</h1>
        <p>Êtes-vous sur de vouloir vous déconnecter?</p>
        <p class="uk-text-center">
            <button class="uk-button uk-button-default yes" id="validation" onclick="deco()" type="button" href="logout.php">Oui</button>
            <button class="uk-button uk-button-default uk-modal-close nope" type="button">Non</button>
        </p>
     </div>
    </div>
    
</body>
</html>

